
  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');




*{
    margin: 0px;
    padding: 0%;
    font-family: 'Lato', sans-serif;
}
.mom{
    color: rgb(12, 7, 1);
    background-image: url(../images/mom.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
   
}
.mom h2{
    color: chocolate;
    font-size: 50px;
    text-align: center;
    font-weight:700px;
    /* margin-top: 40px; */
    padding-top:40px;
    font-family: cursive;
    /* word-spacing: 40px;
    letter-spacing: 20px; */
}
.blog{
     width: 50%;
     /* margin-left: auto;
     margin-right: auto;
     margin-top: 40px;
     margin-bottom: 40px; */
     margin: 40px auto;
     background-color: burlywood;
     padding: 40px;
     border: 10px solid rgb(236, 169, 80);
     border-radius: 15px;
     box-shadow: 10px 10px 15px rgba(247, 133, 99, 0.849);
     text-align: justify;
}
.blog h3{
    text-align: center;
    font-weight: 900px;
    font-size: 26px;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
    margin-bottom: 40px;
}
.blog p{
    line-height: 1.5em;
}
.blog p .bold{
    border: 2px solid rgb(243, 101, 101);
    /* margin: 10px 10px; */
    /* padding: 2px; */
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(105, 59, 59);
}
